body {
  background-color: cornsilk;
  font-family: Montserrat;
  padding: 10px;
}

h6 {
  font-size: 32px;
}

pre {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

a {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

figcaption {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

li {
  padding: 0px 0px 0px 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

dl {
  font-size: 18px;
  font-weight: 500;
  color: darkred;
}

dt {
  font-size: 20px;
  font-weight: 700;
}

dd {
  margin: 0px 0px 30px 15px;
  letter-spacing: 3px;
}

#head_table {
  text-transform: uppercase;
  font-weight: 500;
  color: darkred;
}

#prise {
  padding: 0px 0px 0px 10px;
}

.name {
  font-weight: 300;
  color: black;
}

.value {
  font-weight: 500;
  color: black;
  padding: 0px 0px 0px 10px;
}

div {
  margin-bottom: 10px;
}
div:last-child {
  margin-bottom: 0px;
}

#select {
  min-width: 100px;
  min-height: 22px;
  margin: 0px 0px 10px 0px;
  font-family: Montserrat;
  font-weight: 500;
}

#textarea_1 {
  border: 2px solid grey;
  border-radius: 6px;
  margin: 0px 0px 10px 0px;
}

#fieldset_item {
  border: 2px solid grey;
  margin: 0px 0px 10px 0px;
  max-width: 170px;
}

#fieldset {
  border: 2px solid grey;
  margin: 0px 0px 10px 0px;
  max-width: 1px;
}

_btn {
  max-width: 100px;
  height: auto;
  border: 2px solid grey;
  border-radius: 16px;
}

.container_btn {
  display: flex;
}

.btn {
  min-width: 68px;
  height: auto;
  border: 1px solid lightgrey;
  border-radius: 16px;
  margin: 0px auto 8px auto;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: Montserrat;
}
